<div class="bg-titulo">
  <h1> Meu Titulo </h1>
  <h2>Numero Titulo</h2>
  <div class="grafico">
    <div class="circulo"></div>
  </div>
  <div class="numero-sorte">
    <p>Numero da sorte</p>
    <button class="numero">123456</button>
    <button class="numero">123456</button>
    <button class="numero">123456</button>
    <button class="numero">123456</button>
    <button class="numero">123456</button>
    <button class="numero">123456</button>
  </div>
  <div class="detalhes">
    <div class="detalhe">
      <h3>detalhe</h3>
      <p>data</p>
    </div>
    <div class="detalhe">
      <h3>detalhe</h3>
      <p>data</p>
    </div>
    <div class="detalhe">
      <h3>detalhe</h3>
      <p>data</p>
    </div>
    <div class="detalhe">
      <h3>detalhe</h3>
      <p>data</p>
    </div>
  </div>
</div>
