@import "~swiper/scss";
@import "~swiper/scss/pagination";

.body {
  background-color: pink;
  position: relative;
  display: flex;
  width: 100%;
}

.mySwiper {
  height: 45rem;
}

.swiper-slide {
  width: 85%;
}

.slide {
  margin-right: 1rem;
}
