.body {
  padding: 10px;
  background-color: pink;
  position: relative;
  display: flex;

  .slide {
    width: 10rem;
    height: 10rem;
    position: absolute;
  }
}
.mySwiper {
  height: 40rem;
}
