<!-- <div class="wrapper">
  <app-item class="item"></app-item>
</div> -->
<div class="body">

  <swiper [pagination]="true" class="mySwiper">
    <ng-template swiperSlide class="slide">Slide 1</ng-template>
    <ng-template swiperSlide class="slide">Slide 2</ng-template>
    <ng-template swiperSlide class="slide">Slide 3</ng-template>
    <ng-template swiperSlide class="slide">Slide 4</ng-template>
    <ng-template swiperSlide class="slide">Slide 5</ng-template>
    <ng-template swiperSlide class="slide">Slide 6</ng-template>
    <ng-template swiperSlide class="slide">Slide 7</ng-template>
    <ng-template swiperSlide class="slide">Slide 8</ng-template>
    <ng-template swiperSlide class="slide">Slide 9</ng-template>
  </swiper>
</div>

<!-- <swiper
style="background-color: red; width: 100%; height: 100%;"
[slidesPerView]="1"
[spaceBetween]="50"
[virtual]="true"
[pagination]="true">
  <ng-container *ngFor="let slide of slides; index as i">
    <ng-template swiperSlide>{{ slide }}</ng-template>
  </ng-container>
</swiper> -->
